.App {
    text-align: left;
    /* background-color: #39044a; /* purple background */
    /* background: linear-gradient(135deg, #1e003e, #0b0f4a); /* deep blue tones */
    background: radial-gradient( 
        circle, 
        #580575 0%, /* dark blue */
        #1e003e 50%, /* deep purple */
        #05000c 100% /* black at the far end */
    );
    color: #8fe0ff; /* Light Blue Text color */
    min-height: 100vh; /* Full viewport height */
    padding: 20px;
}

.top-bar {
    display: flex;
    align-items: center; /* Vertically center both items */
    justify-content: space-between; /* Push them to opposite ends */
    gap: 1rem; /* Space between search bar and button */
    max-width: 600px; /* Optional max width for neatness */
    margin: 1rem auto; /* Center horizontally */
}
